* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Serif SC", serif;
    background:
        radial-gradient(circle at top, #7d1111, #3b0505 65%);
    color: #fff4d2;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Serif SC", serif;
    background:
        radial-gradient(circle at top, #7d1111, #3b0505 65%);
    color: #fff4d2;
}
/* =========================
   NAVBAR
========================= */

.navbar {
    width: 100%;
    height: 140px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7%;

    background: #570606;
    border-bottom: 3px solid #c99b3b;

    position: relative;
    z-index: 9999;
}


/* LOGO */

.logo {
    display: flex;
    align-items: center;

    color: #ffe9a6;

    font-family: "Noto Serif SC", serif;
    font-size: 28px;
    font-weight: bold;

    letter-spacing: 2px;

    white-space: nowrap;
}

.logo span {
    color: #e6b84c;

    font-size: 58px;
    font-weight: normal;

    margin-right: 18px;
}


/* MENU */

.navbar nav {
    display: flex;
    align-items: center;

    gap: 48px;

    position: static;
}

.navbar nav a {
    display: block;

    color: #ffe9a6;

    font-family: Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;

    text-decoration: none;

    white-space: nowrap;

    cursor: pointer;

    transition: 0.3s;
}

.navbar nav a:hover {
    color: white;
    text-shadow: 0 0 10px #e7b94d;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 800px) {

    .navbar {
        height: auto;

        min-height: 110px;

        padding: 18px 20px;

        flex-direction: column;

        gap: 18px;
    }

    .logo {
        font-size: 24px;
    }

    .logo span {
        font-size: 48px;
        margin-right: 12px;
    }

    .navbar nav {
        width: 100%;

        display: flex;

        flex-wrap: wrap;

        justify-content: center;

        gap: 15px;
    }

    .navbar nav a {
        font-size: 15px;
    }
}
